.idea
.vscode/
venv/
.env
env/
*.pem
*.pyc
info.txt
boto3/config_files/*.sh
boto3/config_files/config.js
boto3/ip_addresses/*.txt
boto3/cluster_*
kindle_reviews.csv
meta_Kindle_Store.json
migrations
bookreviews.zip
__pycache__/
data_store/
Pipfile*
50043_DB.dump
tests
mongo_data.json
mysql_data.csv
metadata