.idea
.vscode/
venv/
.env
env/
*.pyc
jiawei.py
ken.py
yijie.py
jinkind.py
dom.py
kindle_reviews.csv
meta_Kindle_Store.json
migrations
bookreviews.zip
__pycache__/
data_store/
Pipfile*
50043_DB.dump
tests