.idea
.vscode/
venv/
.env
env/
*.pyc
boto3/config_files/*.sh
boto3/ip_addresses/
kindle_reviews.csv
meta_Kindle_Store.json
migrations
bookreviews.zip
__pycache__/
data_store/
Pipfile*
50043_DB.dump
tests