<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Book Reviews</title>
    <link rel="
    stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <a href="/books">Home</a>
        <br>
        <a href="/add">Add Book Review</a>

        <form method="post">
            <h3>Add</h3>
            <input type="text" name="asin" placeholder="asin">
            <input type="text" name="summary" placeholder="summary">
            <input type="submit" value="Submit">
        </form>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>