<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Book Reviews</title>
    <link rel="
    stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <h1>
            <a href="/browse">Home</a>
        </h1>

        <!-- book metadata -->
        {% if book %}
            <table>
                <tr>
                    <td>
                        <img src={{ book['imUrl'] }}>
                    </td>
                    <td><h1>
                        Title: {{ book['title'] }} <br>
                        ASIN: {{ book['asin'] }} <br>
                        Price: {{ book['price'] }} <br>
                    </h1></td>
                </tr>
            </table>
            <p>Description: {{ book['description'] }}</p>
        {% endif %}
        <form method="post">
            <h3>Add a review</h3>
            <input type="text" name="reviewText" placeholder="">
            <input type="submit" value="Submit">
        </form>

        <!-- book reviews -->
        {% if reviews %}
            <h1>
                Top reviews:
                <!-- this page allows the user to scroll and see all books in the database -->
            </h1>
            {% for r in reviews %}
                <p>{{r.reviewText}}</p>
            {% endfor %}
        {% else %}
            <h1>Reviews:</h1>
            <p>No reviews for this product yet.</p>
        {% endif %}

        <!-- related books -->
        {% if book %}
            {% for relation in book['related'] %}
            <h2>{{ relation }}:</h2>
            <table>
                <tr>
                    {% for item in book['related'][relation] %}
                        <td></td>
                            <a href={{ "/books/" + item }}>
                                {{ item }}
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            </table>
            {% endfor %}
        {% endif %}

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>