<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Book Reviews</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>
            This is index.html
        </h1>
        <a class="nav-link" href="/test">Link to /test</a> <!-- this link sends a GET request to /test -->
    </div>

    <div>
        Try making post request here:<br>
        <form method="post" , action="/post">
            <!-- this form sends a POST request to /post -->
            Input:
            <input type="text" name="key"><br>
            Value:
            <input type="text" name="value"><br>
            <button type="submit">POST!</button>
        </form>

    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>