<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Book Reviews Server Log</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
</head>

<body>
    <div class="container">
        <h2>
            Book Reviews Server Log
        </h2>
    </div>
<!-- Note: tr is one table row. td is table data (that fills the row) -->
    <div>
        <table>
            {% for item in loglist %}
            <tr>
                <td>
                    {{ item }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> -->
</body>

</html>