<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Book Reviews</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>
            this is post.html<br>
        </h1>
        <table>
            {% for key, value in retDict.items() %}
            <!-- uses the variable retDict that was sent in from app.py -->
            <tr>
                <td> {{ key }} </td>
                <td> {{ value }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>